
/****************************************************Tag Selector*************************************************************/



body{
	margin: 0px;
	text-align: center;
}



/****************************************************Class Selector*************************************************************/

.cardStack{

	margin: 10% auto 8rem;
	padding: 0% 10%;
}

.cardsTry{
	display: inline;
	margin: 20px auto;
}



/****************************************************ID Selector*************************************************************/

