
/****************************************************Tag Selector*************************************************************/



body{
	margin: 0px;
	text-align: center;
}



/****************************************************Class Selector*************************************************************/

.cardStack{

	margin: 8rem auto 8rem;
	padding: 0px 100px;
}

.cardsTry{
	display: inline;
	margin: 2rem 54px;
}



/****************************************************ID Selector*************************************************************/

